# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env

# VS Code settings
.vscode/

# Operating system files
Thumbs.db
.DS_Store

# Build outputs
dist/
build/

# Dependency directories
jspm_packages/

# Coverage directory used by tools like istanbul
coverage/

# Temporary files
.temp/
.cache/

# IDE or editor specific files
.idea/
*.sublime-workspace
*.sublime-project

# Optional npm cache directory
.npm
